<table class="table table-hover">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Product Description</th>
            <th>Product Price</th>
            <th colspan="2">Actions</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let product of products">
            <td>{{ product.productName }}</td>
            <td>{{ product.productDescription }}</td>
            <td>{{ product.productPrice }}</td>
            <td> <a [routerLink]="['/product/edit', product._id]" class="btn btn-primary">Edit</a> </td>
            <td> <a (click)="deleteProduct(product._id, product)" class="btn btn-danger">Delete</a> </td>
        </tr>
    </tbody>
</table>