{% extends 'base.html.twig' %}

{% block title %}
{% endblock %}

{% block body %}
    <p> 
    Oups, la ressource demandée n'est pas disponible !
    Je vous invite à retourner à l'
    <a href="{{ path('blog_index') }}">accueil</a>.
    </p>
{% endblock %}